/tests              export-ignore
/.*                 export-ignore
/docker-compose     export-ignore
/fortrabbit         export-ignore
/phpunit.xml        export-ignore
/collections/example_*.php    export-ignore
